@font-face {
  font-family: "FF Tisa";
  font-weight: 400;
  src: url("http://cdn1.tnwcdn.com/fonts/ff-tisa.eot?#iefix") format("embedded-opentype"), url("http://cdn1.tnwcdn.com/fonts/ff-tisa.woff") format("woff"), url("http://cdn1.tnwcdn.com/fonts/ff-tisa.ttf") format("truetype");
}

a, a:hover {
    text-decoration: none;
}

.panel-heading a:visited {
    color: grey;
}

.empty-div {
    height: 20px;
}

.login-div {
    position: absolute;
    width: 60%;

    top: 5%;
    left: 20%;
    right: 20%;

    margin: auto;

    border-radius: 6px;
}

.dashboard {
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    height: 100%;
    margin: auto;
}

div#news-div {
    position: absolute;
    width: 96%;
    top: 130px;
    left: 2%;
    margin: auto;
}

button#add-feed-btn, button#feeds-btn {
    min-width: 100%;
}

.white-div {
    background-color: rgba(255, 255, 252, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    margin: auto;
    z-index: 2;
}

.delete-btn {
    font-size: small;
    padding: 2px;
    margin-top: 5px;
}

.feed-title-span {
    float: right;
}

.stacks-container {
    background-color: rgba(192, 192, 192, 0.6);
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    right: 10%;
    margin: auto;
}

.stacks-container button {
    min-width: 100%;
}

.publish-date-div {
    color: grey;
}

.dashboard .panel-body {
    font-family: "FF Tisa";
    font-size: 1.1em;
    rgb(78, 88, 96);
}

.panel-body button {
    font-family: "Lato","Helvetica Neue","Helvetica","Arial","sans-serif";
}

.load-all-div {
    color: grey;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.panel-body img {
    max-height: 100%;
    max-width: 100%;
}

.hide-btn {
    float: right;
    cursor: pointer;
    color: white;
}

.hide-btn:hover {
    color: grey;
}

